.SideBar {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 15%;
  margin: 20px;
}

.SideBar > * {
  width: 100%;
}

.SideBar-Top {
  flex: 1;

  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.349));
}

.RoomCodeLabel {
  text-align: center;
  padding: 10px;
  border-radius: 20px;

  font-size: 24px;
  font-weight: 700;

  color: #8d6ca7;
  background-color: #fff;
}

.play-button {
  cursor: pointer;
  font-size: 100%;
  font-family: inherit;
  border: 0;
  margin: 0;
  /* padding: 10px; */
  height: 40px;
  width: 100%;
  border-radius: 10px;
  float: left;
  color: #fff;
  background-color: #8d6ca7;
}

.exit-button {
  cursor: pointer;
  font-size: 100%;
  font-family: inherit;
  border: 0;
  margin: 0;
  /* padding: 10px; */
  height: 40px;
  width: 48%;
  border-radius: 10px;
  float: right;
  color: #fff;
  background-color: #8d6ca7;
}
