.SideBarList-Toggle {
  cursor: pointer;

  text-align: center;
  padding: 10px;
  border-radius: 20px;

  font-size: 24px;
  font-weight: 700;

  color: #8d6ca7;
  background-color: #fff;
}

.SideBarList-Items {
  max-height: 100px;
  overflow-y: auto;
  overflow-x: hidden;
  border-radius: 20px;
  background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.349));
}

.SideBarList-Items > * {
  margin: 10px;
  color: #8d6ca7;
}
