.SideBarList-Toggle {
  cursor: pointer;

  text-align: center;
  padding: 10px;
  border-radius: 20px;

  font-size: 24px;
  font-weight: 700;

  color: #8d6ca7;
  background-color: #fff;
  -webkit-box-shadow: 0 8px 6px -6px black;
  -moz-box-shadow: 0 8px 6px -6px black;
  box-shadow: 0 8px 6px -6px black;
}

.SideBarList-Items {
  max-height: 100px;
  overflow-y: scroll;
  overflow-x: hidden;
  border-radius: 20px;
  background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.349));
}

.SideBarList-Items > * {
  margin: 10px;
  color: #8d6ca7;
}

.SideBarList-Items::-webkit-scrollbar {
  width: 10px;
}

/* Track */
.SideBarList-Items::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 20px;
}

/* Handle */
.SideBarList-Items::-webkit-scrollbar-thumb {
  background: #8d6ca7;
  border-radius: 20px;
}

/* Handle on hover */
.SideBarList-Items::-webkit-scrollbar-thumb:hover {
  background: #6f5a7e;
}
