body {
  min-height: 100vh;
  color: white;
  margin: 0;
  padding: 0;

  font-family: 'Nunito Sans', sans-serif;
}

/* global scrollbar styles */

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 20px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #8d6ca7;
  border-radius: 20px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #6f5a7e;
}
