body {
  min-height: 100vh;
  color: white;
  margin: 0;
  padding: 0;
  background-image: linear-gradient(to bottom right, rgba(158, 160, 181, 0.795), rgb(65, 60, 119));

  font-family: 'Nunito Sans', sans-serif;
}
