.modal-header {
  margin: 0;
  font-size: 24px;
  font-weight: 700;
  color: #8d6ca7;
}

.modal-form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.modal-name-input {
  border: none;
  width: 100%;
  height: 30px;
  margin: 0;
  border-radius: 10px 0px 0px 10px;
  background-color: #c4c4c4;
  font-family: 'Nunito Sans', sans-serif;
}

.modal-name-input:focus {
  outline: none;
}

.modal-submit-button {
  cursor: pointer;
  font-size: 100%;
  font-family: inherit;
  border: 0;
  margin: 0;
  /* padding: 10px; */
  height: 32px;
  width: 60px;
  border-radius: 0px 10px 10px 0px;

  color: #fff;
  background-color: #8d6ca7;
}

.modal-submit-button:disabled {
  background-color: #7c7c7c;
  cursor: not-allowed;
}

/* ANIMATIONS: */

.ReactModal__Overlay {
  opacity: 0;
  transition: opacity 200ms;
}

.ReactModal__Overlay--after-open {
  opacity: 1;
}

.ReactModal__Overlay--before-close {
  opacity: 0;
}
